<div class="container h-100 mt-3">
    <div class="row h-100 justify-content-center align-items-center">   
        <div class="col-10 col-md-8 col-lg-6 mt-3">
            <h4>Case details</h4>
            <div>
                <label><strong>Customer:</strong> <%= @case.customer.name %></label>
            </div>
            <div>
                <label><strong>Topic:</strong> <%= @case.topic %></label>
            </div>
            <div>
                <label><strong>Comments:</strong> <%= @case.comments %></label>
            </div>
            <div>
                <label><strong>Created:</strong> <%= @case.created_at.to_date %></label>
            </div>
        <div>
    </div>
</div>
