<div class="container h-100 mt-3">
    <div class="row h-100 justify-content-center align-items-center">   
        <div class="col-10 col-md-8 col-lg-6 mt-3">
            <h4>Case details</h4>
            <div>
                <label>Customer: <%= @case.customer.name %></label>
            </div>
            <div>
                <label>Topic: <%= @case.topic %></label>
            </div>
            <div>
                <label>Comments: <%= @case.comments %></label>
            </div>
            <div>
                <label>Created: <%= @case.created_at.to_date %></label>
            </div>
        <div>
    </div>
</div>
